*/out/**
build/
target/
*.iml
.idea/
/*/build/
/*/classes
/classes
/bin/
.settings/


 \.orig$

\.iml$
\.class$
\.orig\..*$
\.chg\..*$
\.rej$
\.conflict\~$
^private$
syntax: glob
.metadata/**
.recommenders/**
RemoteSystemsTempFiles/**

.idea/**
.settings/**
*/logs/**


.gradle/
.idea/
Stress Test Result
buildSrc/.gradle/
buildSrc/build/
logs/
*/build/**



deployment/ansible/log/ansible.log
*.iml
.project
.classpath
gradlew
*/bin/**
*/.project
*/.classpath
*/gradlew


